<div class="row">
  <div class="col s12 m6">
    <div class="card blue-gray darken-1">
      <div class="card-content white-text">
        <span class="card-title">Contact Us</span>
        <p>
          If you have any question please contact us for support by
          <a href="mailto: flipped.pages.books@gmail.com">E-Mail</a>. We will
          get back to you as soon as posible.
        </p>
      </div>
    </div>
  </div>
</div>