<div class="container">
  <div class="col s12 m6 card-panel teal col darken-text center-align">
    <div class="">
      <div class="card-content white-text">
        <span class="card-title">Contact Us</span>
        <p>
          If you have any question please contact us for support by
          <a
            href="mailto: flipped.pages.books@gmail.com"
            class="orange-text darken-3"
          >E-Mail</a>. We will get back to you as soon as posible.
        </p>
      </div>
    </div>
  </div>
</div>