<div class="row justify-space-between-md">
    <div class="login-card">
        <div>
          
        </div>
        <h2 class="page-title">Form</h2>
        <form class="form signup-form">
    </div>
    <div class="form-group">
        <label for="search-for-book">Book Title:</label>
        <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="Book-display"></div>
     
    <p>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" />
          <span>Read</span>
        </label>
      </p>
    
      <p>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" />
          <span>Own</span>
        </label>
      </p>
    
      <p>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" />
          <span>Want</span>
        </label>
      </p>
      
     <p>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" />
          <span>Heard About</span>
        </label>
      </p>

      <button class="btn waves-effect waves-light" type="submit" name="action">Add
        <i class="material-icons right">Book</i>
      </button>

      
       

</div>

<script src="controllers/api/userBooksRoutes.js"></script>