<div class="container z-depth-3">
    <div class="carousel">
        <a class="carousel-item" href="#"><img class="z-depth-5" id="book-cover-1" src="./public/images/agustin-gunawan-7iwYPkGzO2o-unsplash.jpg">
            <div class="image-overlay">
                <div id="book-description book-description-1">Book Description</div>
            </div>
            <h5 id="book-title-1">Book Title</h5>
            <p>By: <span id="author-name-1">Author Name</span></p>
        </a>

        <a class="carousel-item" href="#"><img class="z-depth-5" id="book-cover-2" src="./public/images/brandon-morgan-3qucB7U2l7I-unsplash.jpg">
            <div class="image-overlay">
                <div id="book-description book-description-2">Book Description</div>
            </div>
            <h5 id="book-title-2">Book Title</h5>
            <p>By: <span id="author-name-2">Author Name</span></p>
        </a>

        <a class="carousel-item" href="#"><img class="z-depth-5" id="book-cover-3" src="./public/images/david-law-sd-34z9t13g-unsplash.jpg">
            <div class="image-overlay">
                <div id="book-description book-description-3">Book Description</div>
            </div>
            <h5 id="book-title-3">Book Title</h5>
            <p>By: <span id="author-name-3">Author Name</span></p>
        </a>

        <a class="carousel-item" href="#"><img class="z-depth-5" id="book-cover-4" src="./public/images/peyman-farmani-UclyYWTFK7w-unsplash.jpg">
            <div class="image-overlay">
                <div id="book-description book-description-4">Book Description</div>
            </div>
            <h5 id="book-title-4">Book Title</h5>
            <p>By: <span id="author-name-4">Author Name</span></p>
        </a>

        <a class="carousel-item" href="#"><img class="z-depth-5" id="book-cover-5" src="./public/images/valentin-muller-bWtd1ZyEy6w-unsplash.jpg">
            <div class="image-overlay">
                <div id="book-description book-description-5">Book Description</div>
            </div>
            <h5 id="book-title-5">Book Title</h5>
            <p>By: <span id="author-name-5">Author Name</span></p>
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./public/js/homepage.js"></script>