<div class="container">
  <div id="title" class="center">
    <h1 id="header" class="text-center mt-5">Book Finder</h1>
    <div class="row">
      <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
        <input
          id="search-box"
          type="text"
          class="form-control"
          placeholder="Search Books!..."
        />
        <button id="search" class="btn btn-primary" onclick="">Search</button>
      </div>
    </div>
  </div>
  <div class="book-list">
    <h2 class="text-center">Search Result</h2>
    <div id="list-output" class="">
      <div class="row">
        <!-- card  -->
        <div class="container">
          <div
            class="text-center"
            id="viewerCanvas"
            style="width: 800px; height: 600px"
          ></div>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      google.books.load();
      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        var index = document.URL.indexOf('?');
        if (index > 0) {
            var bookIsbn = document.URL.substring(index, document.URL.length).split("=")[1]
            console.log(bookIsbn);
        }
        //viewer.load('ISBN:0738531367'); //for test purpose
        viewer.load('ISBN:'+bookIsbn);
      }
      google.books.setOnLoadCallback(initialize);
    </script>