:root {
    --lightblue: rgb(14, 192, 192);
    --medblue: rgb(32, 113, 160);
    --darkblue: rgb(53, 27, 114);
    --tan: rgb(218, 173, 115);
    --caramel: rgb(201, 104, 40);
    --warmbrown: rgb(99, 39, 0);
}